<form class="form-login">


    <!--<login-text-input-->
            <!--on-save="vm.onSave(login)"-->
    <!--</login-text-input>-->

    <!--<login-text-input-->
            <!--on-save="vm.onSave(password)"-->
    <!--</login-text-input>-->

    <login-text-input>
            <!--on-save="$ctrl.onSave(login)">-->
    </login-text-input>

    <login-text-input>
                       <!--on-save="$ctrl.onSave(password)">-->
    </login-text-input>

    <button
            class="btn btn-success"
            uib-tooltip="bootstrap ui"
            ng-click = "vm.btnLoginClick()"
            >Login</button>
</form>
