<form class="form-login">
    <div uib-alert class="alert-danger" ng-show = !vm.credential>
        Wrong credential
    </div>

    <form name="loginForm"
          ng-submit="vm.login(credentials)"
        >

        <label for="username" class="input-label"><span class="label-title">Username:</span>
            <input type="text" id="username"
                   ng-model="credentials.login">
        </label>
        <label for="password" class="input-label"><span class="label-title">Password:</span>
            <input type="password" id="password"
                   ng-model="credentials.password">
        </label>

        <button
                class="btn btn-success"
                uib-tooltip="bootstrap ui"
                ng-click = "vm.btnLoginClick(credentials)"
                >Login</button>
    </form>


</form>
