<form class="form-login">

    <form name="loginForm"
          ng-submit="vm.login(credentials)"
        >

        <label for="username">Username:</label>
        <input type="text" id="username"
               ng-model="credentials.login">
        <label for="password">Password:</label>
        <input type="password" id="password"
               ng-model="credentials.password">
        <div ng-show = !vm.authorized>Wrong credential</div>

        <button
                class="btn btn-success"
                uib-tooltip="bootstrap ui"
                ng-click = "vm.btnLoginClick(credentials)"
                >Login</button>
    </form>


</form>
