<div class="user-info">
    <h3
            ng-model = "user.FullName"
            >
    </h3>

    <label class="input-label" for="birthday"><span class="label-title">Birthday:</span>
    <input type="text" id="birthday"
           ng-model="vm.user.Birthday">
    </label>
    <label class="input-label" for="location"><span class="label-title">Location:</span>
    <input type="text" id="location"
           ng-model="vm.user.Location">
    </label>
    <label class="input-label" for="address"><span class="label-title">Address:</span>
    <input type="text" id="address"
           ng-model="vm.user.Address">
    </label>
    <label class="input-label" for="skype"><span class="label-title">Skype:</span>
    <input type="text" id="skype"
           ng-model="vm.user.Skype">
    </label>
    <label class="input-label" for="phone"><span class="label-title">Phone:</span>
    <input type="text" id="phone"
           ng-model="vm.user.Phone">
    </label>

    <button
            class="btn btn-success"
            uib-tooltip="bootstrap ui"
            ng-click = "vm.btnLoginClick(credentials)"
            >Edit</button>
</div>